@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "About Us";
}

<link rel="stylesheet" href="~/css/AboutUs.css" />

<html>
<body>

    <img src="../Images/Ruler_1.png" alt="Ruler_1" />

    <h1>Information About Rulers!!</h1>

    <h2>Definition::</h2>

    <p>
        A ruler, sometimes called a rule, line gauge, or scale, is a device used in geometry and technical drawing,
        as well as the engineering and construction industries, to measure distances or draw straight lines.
    </p>

    <h2>Where the Rulers come from..!!</h2>

    <p>
        In the history of measurement many distance units have been used which were based on human body parts such as the cubit,
        hand and foot and these units varied in length by era and location. In the late 18th century the metric system came into use
        and has been adopted to varying degrees in almost all countries in the world.
    </p>

    <img src="../Images/Ruler_2.png" alt="Ruler_2" />

    <p>
        The oldest preserved measuring rod is a copper-alloy bar that dates from c. 2650 BCE and was found by the German Assyriologist Eckhard Unger
        while excavating at the Sumerian city of Nippur (present day Iraq). Anton Ullrich invented the folding ruler in 1851.
        Frank Hunt later made the flexible ruler in 1902.
    </p>

    <p>
        Rulers made of ivory were in use by the Indus Valley civilization period prior to 1500 BCE.
        Excavations at Lothal (2400 BCE) have yielded one such ruler calibrated to about 1⁄16 inch (1.6 mm).
        Ian Whitelaw holds that the Mohenjo-Daro ruler is divided into units corresponding to 1.32 inches (33.5 mm)
        and these are marked out in decimal subdivisions with amazing accuracy, to within 0.005 inches (0.13 mm).
        Ancient bricks found throughout the region have dimensions that correspond to these units.
    </p>

    <img src="../Images/Ruler_3.png" alt="Ruler_3" />

    <h2>Its Variants' History..!!</h2>

    <p>
        Rulers have long been made from different materials and in multiple sizes. Some are wooden. Plastics have also been used since they were invented;
        they can be molded with length markings instead of being scribed. Metal is used for more durable rulers for use in the workshop;
        sometimes a metal edge is embedded into a wooden desk ruler to preserve the edge when used for straight-line cutting.
        12 in or 30 cm in length is useful for a ruler to be kept on a desk to help in drawing. Shorter rulers are convenient for keeping in a pocket.
        Longer rulers, e.g., 18 in (46 cm), are necessary in some cases. Rigid wooden or plastic yardsticks, 1 yard long, and meter sticks, 1 meter long, are also used.
        Classically, long measuring rods were used for larger projects, now superseded by tape measure, surveyor's wheel or laser rangefinders.
    </p>

    <p>
        Desk rulers are used for three main purposes: to measure, to aid in drawing straight lines, and as a straight guide for cutting and scoring with a blade.
        Practical rulers have distance markings along their edges. A line gauge is a type of ruler used in the printing industry.
        These may be made from a variety of materials, typically metal or clear plastic. Units of measurement on a basic line gauge usually include inches, agate, picas, and points.
        More detailed line gauges may contain sample widths of lines, samples of common type in several point sizes, etc.
    </p>

    <img src="../Images/Ruler_4.png" alt="Ruler_4" />

    <p>
        Measuring instruments similar in function to rulers are made portable by folding (carpenter's folding rule) or
        retracting into a coil (metal tape measure) when not in use. When extended for use, they are straight, like a ruler.
        The illustrations on this page show a 2 m (6 ft 7 in) carpenter's rule, which folds down to a length of 25 cm (10 in) to easily fit in a pocket,
        and a 5 m (16 ft) tape, which retracts into a small housing.
    </p>

    <p>
        A flexible length-measuring instrument which is not necessarily straight in use is the tailor's fabric tape measure,
        a length of tape calibrated in inches and centimeters. It is used to measure around a solid body,
        e.g., for a person's waist measurement, as well as for linear measurement, e.g., for the inside leg length.
        It is rolled up when not in use, taking up little space.
    </p>

    <p>
        A ruler software program can be used to measure pixels on a computer screen or mobile phone.
        These programs are also known as screen rulers.
    </p>


    <img src="../Images/Ruler_5.png" alt="Ruler_5" />
    <img src="../Images/Ruler_6.png" alt="Ruler_6" />
    <img src="../Images/Ruler_7.png" alt="Ruler_7" />
    <img src="../Images/Ruler_8.png" alt="Ruler_8" />

</body>
</html>