@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "About Us";
}

<h1>Information About Rulers!!</h1>

<h2>Definition::</h2>

<p>
    A ruler, sometimes called a rule, line gauge, or scale, is a device used in geometry and technical drawing,
    as well as the engineering and construction industries, to measure distances or draw straight lines.
</p>

<h2>Where the Rulers come from..!!</h2>

<p>In the history of measurement many distance units have been used which were based on human body parts such as the cubit, 
    hand and foot and these units varied in length by era and location. In the late 18th century the metric system came into use 
    and has been adopted to varying degrees in almost all countries in the world.</p>

<p>The oldest preserved measuring rod is a copper-alloy bar that dates from c. 2650 BCE and was found by the German Assyriologist Eckhard Unger 
    while excavating at the Sumerian city of Nippur (present day Iraq).</p>

<p>Rulers made of ivory were in use by the Indus Valley civilization period prior to 1500 BCE.
    Excavations at Lothal (2400 BCE) have yielded one such ruler calibrated to about 1⁄16 inch (1.6 mm).
    Ian Whitelaw holds that the Mohenjo-Daro ruler is divided into units corresponding to 1.32 inches (33.5 mm) 
    and these are marked out in decimal subdivisions with amazing accuracy, to within 0.005 inches (0.13 mm). 
    Ancient bricks found throughout the region have dimensions that correspond to these units.</p>

<p>Anton Ullrich invented the folding ruler in 1851. Frank Hunt later made the flexible ruler in 1902.</p>
